@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&family=League+Spartan:wght@300;400&display=swap');
#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
.app {
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./images/workSpace-alt-min.jpg');
  /* background: url('./images/workSpace-alt-min.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  position: relative;
  width: 40%;
  min-height: 20%;
  height: auto;
  padding: 2% 4%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
 }
 
 .card:hover {
  margin-top: 1rem;
 }

 .advice {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   justify-items: flex-end;
   align-items: center;
   height: auto;
 }

 .heading {
  font-family: 'Josefin Sans', 'League Spartan', sans-serif;
 }

 .getAdvice {
  background: linear-gradient(-45deg, #cc48ab, #9f69fe, #27c8b7, #4a3ef7);
  background-size: 800% 400%;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
          animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
 }
 
 .getAdvice:hover {
  -webkit-animation: gradient 3s infinite;
          animation: gradient 3s infinite;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
 }
 
 .getAdvice:active {
  -webkit-animation: gradient 3s infinite;
          animation: gradient 3s infinite;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
 }
 
 @-webkit-keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
 
  50% {
   background-position: 100% 50%;
  }
 
  100% {
   background-position: 0% 50%;
  }
 }
 
 @keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
 
  50% {
   background-position: 100% 50%;
  }
 
  100% {
   background-position: 0% 50%;
  }
 }

 @media only screen and (max-width: 600px) {
   .card {
    width: 80%;
    min-height: 30%;
    height: auto;
   }
 }

/* loader */

@keyframes ldio-wo5mzaaryj {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-wo5mzaaryj div {
  left: 58.28px;
  top: 29.759999999999998px;
  position: absolute;
  animation: ldio-wo5mzaaryj linear 1s infinite;
  background: #85a2b6;
  width: 7.4399999999999995px;
  height: 14.879999999999999px;
  border-radius: 3.7199999999999998px / 7.4399999999999995px;
  transform-origin: 3.7199999999999998px 32.24px;
}.ldio-wo5mzaaryj div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #85a2b6;
}.ldio-wo5mzaaryj div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #85a2b6;
}.ldio-wo5mzaaryj div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #85a2b6;
}.ldio-wo5mzaaryj div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #85a2b6;
}.ldio-wo5mzaaryj div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #85a2b6;
}.ldio-wo5mzaaryj div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #85a2b6;
}.ldio-wo5mzaaryj div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #85a2b6;
}.ldio-wo5mzaaryj div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #85a2b6;
}.ldio-wo5mzaaryj div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #85a2b6;
}.ldio-wo5mzaaryj div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #85a2b6;
}.ldio-wo5mzaaryj div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #85a2b6;
}.ldio-wo5mzaaryj div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #85a2b6;
}
.loadingio-spinner-spinner-7ot58maybvy {
  width: 124px;
  height: 124px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-wo5mzaaryj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-wo5mzaaryj div { box-sizing: content-box; }

